@use "../sass/variable.scss" as *;

.error-page{
    color: $color-primary;
    text-align: center;
h1{
    font-size: 10rem;
    margin-bottom: .5em;
    margin-top: .2rem;
}
h2{
    font-size: 28px;
    font-weight: 400;
}
Link{
    color: $background-dark;
}
}