@use "../sass/variable.scss" as *;
.description-panel{
    margin-bottom: 1rem;
    p{
        margin-block: 0;
    }
.description-header{
    background-color: $color-primary;
    color: $color-tertiary;
    padding: 0.2em 1em;
    border-radius: .7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    i{
        font-size: 2rem;
        cursor: pointer;
    }
}
.description-content{
    background-color: $background-light;
    color: $color-primary;
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
    position: relative;
    top: -0.3rem;
    z-index:-1;
}
}