.NavBar{
    display: flex;
    align-items: center;
    padding: 1rem 3rem;
    background-color: #fff;
    font-weight: 500;
    gap: 2rem;
    
    @media screen and (width <= 768px) {
        text-transform: uppercase;
        font-weight: 400;
    }
& > *:first-child {
    margin-right: auto;}
& a:hover{
    text-decoration: underline;}
& a.active{
    text-decoration: underline;}
& a {
    text-decoration: none;
    color: black;
}}