@use "../sass/variable.scss" as *;
.footer{
    color: $color-tertiary;
    background-color: $footer-background-color;
    padding: 20px;
    text-align: center;
    
    min-height: 100%;
    display: grid;
    place-items:center;

}