@use "../sass/variable.scss" as *;
.footer{
    color: $color-tertiary;
    background-color: $footer-background-color;
    padding: 20px;
    text-align: center;
    min-width: 100%;
    height: 209px;
    display: grid;
    place-items:center;

}